
.icon-miles {
    background-image: url('../assets/miles.svg');
}

.icon-camera {
    background-image: url('../assets/camera.svg');
}

.icon-chat {
    background-image: url('../assets/chat.svg');
}

.icon-critterpedia {
    background-image: url('../assets/critterpedia.svg');
}

.icon-design {
    background-image: url('../assets/design.svg');
}

.icon-diy {
    background-image: url('../assets/diy.svg');
}

.icon-helicopter {
    background-image: url('../assets/helicopter.svg');
}

.icon-map {
    background-image: url('../assets/map.svg');
}

.icon-shopping {
    background-image: url('../assets/shopping.svg');
}

.icon-variant {
    background-image: url('../assets/variant.svg');
}